go 1.22.1

use (
	./00_go/cn_test/LNT_TEST
	./00_go/cn_test/gCallSo
	./00_go/cn_test/goSo
	./00_go/cn_test/http
	./00_go/cn_test/xml
	./00_go/elasticsearch
	./00_go/goLibs/fprModel
	./00_go/goPro
	./00_go/kafka/consumer
	./00_go/kafka/producer
	./00_go/tmp
)
